<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>watch-together.io</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
  <link href="https://vjs.zencdn.net/6.4.0/video-js.css" rel="stylesheet">
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <script type="text/javascript" src="../assets/js/jquery.slimscroll.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
  <div class="content-main">
    <div class="header">
      <div class="AppClose winButton-U7zAqI justifyCenter-29N31w alignCenter-3VxkQP flex-3B1Tl4 directionRowReverse-2eZTxP">
        <svg name="TitleBarClose" width="12" height="12" viewBox="0 0 12 12"><polygon fill="#ffffff" fill-rule="evenodd" points="11 1.576 6.583 6 11 10.424 10.424 11 6 6.583 1.576 11 1 10.424 5.417 6 1 1.576 1.576 1 6 5.417 10.424 1"></polygon></svg>
      </div>
      <div class="AppMax winButton-U7zAqI center-1MLNrE flex-3B1Tl4 justifyCenter-29N31w alignCenter-3VxkQP"><svg name="TitleBarMaximize" width="12" height="12" viewBox="0 0 12 12"><rect width="9" height="9" x="1.5" y="1.5" fill="none" stroke="#ffffff"></rect></svg></div>
      <div class="AppMin winButton-U7zAqI center-1MLNrE flex-3B1Tl4 justifyCenter-29N31w alignCenter-3VxkQP"><svg name="TitleBarMinimize" width="12" height="12" viewBox="0 0 12 12"><rect fill="#ffffff" width="10" height="1" x="1" y="6"></rect></svg></div>
    </div>
    <div class="main-screen">
      <div class="app-header">

      </div>
      <div class="app-body">
        <center>
          <input class="search box" placeholder="######" type="text">
          <button class="connect connect-button"> Connect </button>
          <button class="create create-button"> Create </button>
        </center>

        <center>
          <div class="content">

          </div>
        </center>
      </div>
    </div>
  </div>
  <script> require('../assets/js/main.js')</script>
</body>
</html>
